<body>
<div fxLayoutGap = "100px">
<mat-horizontal-stepper  color="accent" #stepper linear  iseditable>
  <mat-step [completed]= "firstStepCompleted">
    <app-purchase-form class="step" (formIsCorrect)= "isFirstStepCompleted($event)"></app-purchase-form>
    <button class="form-button" mat-flat-button matStepperNext color="accent" *ngIf= "firstStepCompleted">Next</button>
  </mat-step>
  <mat-step [completed]= "secondStepCompleted">
    <app-purchase-seats class="step" [seats] = "seatsList" [rows] = "rows" (formIsCorrect)= "isSecondStepCompleted($event)"></app-purchase-seats>
    <button class="form-button" mat-flat-button matStepperPrevious color="accent">
      Previous
     </button>
    <button class="form-button" mat-flat-button matStepperNext color="accent" (click)= "buyTickets()" *ngIf= "secondStepCompleted">
      Confirm reservation
     </button>
  </mat-step>
  <mat-step>
    <app-confirmation class="step" [buyedTickets] = "buyedTicket" [show] = "show"></app-confirmation>
  </mat-step>
  </mat-horizontal-stepper>
</div>
  <button mat-flat-button color="accent" (click) = "backToMOvies()">Back to movies list</button>
</body>
