<body>
<div fxLayoutGap = "50px">
<mat-horizontal-stepper  color="accent" #stepper linear  iseditable>
  <mat-step [completed]= "firstStepCompleted">
    <app-purchase-form (formIsCorrect)= "isFirstStepCompleted($event)"></app-purchase-form>
    <button id="next" mat-flat-button matStepperNext color="accent" *ngIf= "firstStepCompleted">Next</button>
  </mat-step>
  <mat-step [completed]= "secondStepCompleted">
    <app-purchase-seats [seats] = "seatsList" [rows] = "rows" (formIsCorrect)= "isSecondStepCompleted($event)"></app-purchase-seats>
    <button mat-flat-button matStepperPrevious color="accent">
      Previous
     </button>
    <button mat-flat-button matStepperNext color="accent" (click)= "buyTickets()" *ngIf= "secondStepCompleted">
      Confirm reservation
     </button>
  </mat-step>
  <mat-step>
    <app-confirmation [buyedTickets] = "buyedTicket" [show] = "show"></app-confirmation>
  </mat-step>
  </mat-horizontal-stepper>
</div>
  <button mat-flat-button color="accent" (click) = "backToMOvies()">Back to movies list</button>
</body>
