.navbar {
  background: #2c313c;
  border-bottom: solid 3px #c05d4f;
  margin-bottom: 320pt;
}
.footer {
  background: #2c313c;
  border-top: solid 3px #c05d4f;
  color: #ede9e6;
  margin-bottom: 0px;
  padding: 20pt;
}
.footer-columns {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  align-content: center;
}
.footer-columns:after {
  content: "";
  display: table;
  clear: both;
}
.footer-column {
  float: left;
  margin-right: 50pt;
}
#app {
  background: black;
  background-image: url("https://funkyimg.com/i/3aJ4n.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 900pt;
}
