<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav ml-auto text-center" id="links" routerLinkActive="active">
      <li class="nav-item">
        <img id="logo" src="https://funkyimg.com/i/3aLLg.png" style="width: 100px;">
      </li>
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>-->
<!--      </li>-->
      <li class="nav-item">
        <a href="/movies" class="nav-link" routerLink="movies">Movies </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto text-center" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <img src="https://funkyimg.com/i/3aLN6.png" style="width: 30pt; margin-right: 10pt;">
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto text-center" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href="/reservations" class="nav-link" routerLink="reservations">Reservations</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
    <div id="created">
      Projekt zaliczeniowy | Przedmiot Aplikacje Internetowe<br />
      Wykonały:<br />
      Weronika Kopeć - Backend<br />
      Joanna Samsel - Frontend
    </div>
</div>
