body{
  background: #3c4655;
}
h1 {
  margin-left: 10pt;
  background: #c05d4f;
  width: 100pt;
  padding: 5pt;
  text-align: center;
  color: #ede9e6;
  border-radius: 0pt 0pt 10pt 10pt;
}
#calendar {
  padding: 10pt 10pt;
}
#calendar mat-label {
  color: #ede9e6;
}
