<body>
<div class="container" fxLayoutAlign="space-around center">
            <mat-card class="listOfMovies" *ngFor= "let movie of movies" [hidden] = "hideMovie(movie.idMovie)">
              <div>
                  <div class="image-list-item">
                    <div class="image">
                      <img class="pics" [src] = "movie.mPhotoUrl"><br>
                    </div>
                    <div class="label-title">
                      <h2>{{movie.title}}</h2>
                      <h3>{{movie.subtitle}}</h3>
                    </div>
                    <div id="label-body">
                      Rating: {{movie.rating}}<br>
                      Creator: {{movie.creator}}<br>
                      Duration(min): {{movie.durationMin}}
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap = "20px">
                    <mat-card-actions *ngFor= "let show of shows">
                      <div>
                        <button
                          *ngIf= "movie.idMovie == show.idMovie && show.showDate == showDate && isDatePicked" color="accent" mat-flat-button (click) = "select(show)">
                            {{show.showDate}} {{show.showTime}}
                        </button>
                      </div>
                    </mat-card-actions>
                  </div>
                </div>
            </mat-card>
</div>
<div class="alert alert-warning" *ngIf= "tryToBuy && !isLoggedIn">
  Login to buy ticket<br/>
</div>
</body>
