<body>
<div class="container" fxLayoutAlign="space-around center"  fxLayoutGap = "20px">
            <mat-card class="listOfMovies" *ngFor= "let movie of movies">
                <div class="image-list-item">
                  <div class="image">
                    <img class="pics" [src] = "movie.mPhotoUrl"><br>
                  </div>
                  <div class="label-title">
                    <h2>{{movie.title}}</h2>
                    <h3>{{movie.subtitle}}</h3>
                  </div>
                  <div id="label-body">
                    Rating: {{movie.rating}}<br>
                    Creator: {{movie.creator}}<br>
                    Duration(min): {{movie.durationMin}}
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap = "20px">
                <mat-card-actions *ngFor= "let show of shows">
                  <div>
                    <button
                      *ngIf= "movie.idMovie == show.idMovie && show.showDate == showDate" mat-raised-button color="primary" (click) = "select(show)">
                        {{show.showDate}} {{show.showTime}}
                    </button>
                  </div>
                </mat-card-actions>
              </div>
            </mat-card>
</div>
</body>
