
.pics {
  object-fit: cover;
  width: 270px;
  height: 270px;
}

.label-title {
  background: #c05d4f;
  color: #ede9e6;
  width: 270px;
  text-align: center;
}

.image-list-item {
  width: 300px;
}

.container {
  flex-flow: row wrap;
  display: flex;
  margin-top: -30pt;
}
