<body>
<div class="alert alert-warning" *ngIf= "tryToBuy && !isLoggedIn">
  Login to buy ticket<br/>
</div>
<div class="container" fxLayoutAlign="space-around start">
  <mat-card class="listOfMovies" *ngFor= "let movie of movies" [hidden] = "hideMovie(movie.idMovie)">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div class="image-list-item">
        <div class="image">
          <img class="pics" [src] = "movie.mPhotoUrl"><br>
        </div>
        <div class="label-title">
          <h2>{{movie.title}}</h2>
          <h3>{{movie.subtitle}}</h3>
        </div>
        <div id="label-body">
          Rating: {{movie.rating}}<br>
          Creator: {{movie.creator}}<br>
          Duration(min): {{movie.durationMin}}
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start" *ngFor= "let show of shows">
        <mat-card-actions *ngIf= "movie.idMovie == show.idMovie && show.showDate == showDate && isDatePicked">
          <div>
            <button
              color="accent" mat-flat-button (click) = "select(show)">
              {{show.showDate}} {{show.showTime}}
            </button>
          </div>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
</body>
