.pics {
  object-fit: cover;
  width: 270px;
  height: 270px;
}

.label-title {
  background: #c05d4f;
  color: #ede9e6;
  width: 270px;
  text-align: center;
  margin-left: 15px;
}

.label-body {
  text-align: left;
}

.image-list-item {
  width: 300px;
  text-align: center;
}

.container  {
  flex-flow: row wrap;
  display: flex;
  margin-top: -30pt;
}

.shows {
  flex-flow: row wrap;
  margin-left: 0px;
}

.listOfMovies {
  margin-bottom: 10px;
  margin-top: 10px;
}

.alert {
  margin-bottom: 50px;
}
