<div fxLayoutAlign="center center">
    <mat-card fxFlex = 25>
        <form fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field>
            <input matInput placeholder= "Name" [(ngModel)] = "buyerName" name="buyerName" (input) = "formIsValid()">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Surename" [(ngModel)] = "buyerSurname" name="buyerSurname" (input) = "formIsValid()">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Number of Tickets" [(ngModel)] = "ticketsNumber" name="ticketsNumber" (input) = "formIsValid()">
        </mat-form-field>
        </form>
    </mat-card>
</div>
